### Hello sir, Here i am using jupyter notebook to solve this kind of tasks easily.and i am giving explanation to each and every line of code what i have written.what kind of operations i am doing.please look into it sir.

### Here i am importing necessary packages

In [167]:
import pandas as pd
import numpy as np

### Here i am importing dataset what i have prepared by my own.values has taken by me randomly based on estimation of size of product.

In [170]:
dataset=pd.read_csv("C:/Users/SMMVVD/Desktop/purplle/purplle_Dataset.csv")

In [171]:
dataset

,product_id,product_name,quantity_of_product,weight_of_Product_in_gms
0,1001,softsens-baby-natural-bar,1,300
1,1002,Biotique Baby Bio,1,500
2,1003,Nivea shower Gel,1,500
3,1004,Veet Hair Removal Cream,1,200
4,1005,Jeva Liposoluble wax,1,3000
5,1006,Nivea Body Cream,1,800
6,1007,Liril_Soap_Bundle,1,4000
7,1008,Headandshoulder_shampoo_bottle,1,3000
8,1009,sanitary_pads,1,4000
9,1111,parachute_hair_oil_bottle,1,2000
10,1112,mirror,1,1000
11,1113,oley_face_gel,1,500

In [172]:
dataset.head(3)

,product_id,product_name,quantity_of_product,weight_of_Product_in_gms
0,1001,softsens-baby-natural-bar,1,300
1,1002,Biotique Baby Bio,1,500
2,1003,Nivea shower Gel,1,500

In [173]:
# our dataset contains 12 rows and 4 columns
dataset.shape

(12, 4)

In [174]:
# first 2 product names
dataset['product_name'].head(3)

0    softsens-baby-natural-bar
1           Biotique Baby Bio
2             Nivea shower Gel
Name: product_name, dtype: object

In [175]:
# Weights of our products to solve the problem.
dataset['weight_of_Product_in_gms']

0      300
1      500
2      500
3      200
4     3000
5      800
6     4000
7     3000
8     4000
9     2000
10    1000
11     500
Name: weight_of_Product_in_gms, dtype: int64

In [176]:
weights=dataset['weight_of_Product_in_gms']

In [177]:
total=sum(weights)

### Here the weights i have taken in gms means 4000 gms=4000/1000=4 kg

In [178]:
# Here i got 19.8 kg as per the task what you have given me sir.
total/1000

19.8

In [179]:
weights

0      300
1      500
2      500
3      200
4     3000
5      800
6     4000
7     3000
8     4000
9     2000
10    1000
11     500
Name: weight_of_Product_in_gms, dtype: int64

#### this is the code just i have tried to get optimum sollution but this one not giving that much of accuracy.

In [180]:
summation=0
for i in weights:
    summation=summation+i
    if(summation>5000):
        summation=summation-i
        print(summation)
        summation=i
    elif(summation==5000):
        print(summation)
        summation=0

4500
4800
3000
4000

#### After that i tried Parition and Knapsack problem technique to Solve this problems.those are not work with my problem.
#### i found out different approach that is
 imitating the way children choose teams for a game, is the greedy algorithm, which goes through the numbers in descending order, assigning each of them to whichever subset has the smaller sum

### How it can be work ..? can you suggest me any approach sir..?